button
	cursor: pointer
	font-family: 'Roboto', Arial, sans-serif
	background-color: transparent
	border-radius: 0
	border: none
	transition: all 200ms

.btn
	&-border
		cursor: pointer
		border: 4px solid
		font-weight: bold		
		transition: all 250ms
	&-delete, &-edit, &-like, &-reply
		background: transparent
		border: none		
		&:hover
			transform: scale(1.15)

	&-delete
		color: $red1
		font-size: 19px
	&-edit
		color: $grey1
		font-size: 19px
	&-like
		color: $yellow3
		font-size: 25px
	&-reply
		color: $seagreen4
		font-size: 22px
	&-search
		color: $black
	&-login
		color: $seagreen3
		border-color: $seagreen2
		&:hover
			background: $seagreen2-transparent
			box-shadow: 0px 0px 4px $seagreen1
			color: $seagreen3
	&-singup
		color: $yellow3
		border-color: $yellow3
		&:hover
			background: $yellow2-transparent
			box-shadow: 0px 0px 4px $yellow1
			color: $yellow3

@media(max-width: 576px)
	.btn
		&-like
			font-size: 20px
		&-delete
			font-size: 16px
		&-edit
			font-size: 16px