.home-icon
	&-box
		position: relative
		height: 45px
		width: 45px
		flex: none
		img
			max-width: 100%
		&:after
			position: absolute
			background: transparent
			display: block
			content: ''
			left: 50%
			transform: translate(-50%)
			top: 16px
			width: 10px
			height: 3px
			z-index: 1
			border-radius: 100%
			transition: all 350ms
		&:hover:after
			background: $red1
			box-shadow: 0px 0px 5px 3px $red2
	position: relative
	z-index: 2
	max-width: 100%
	cursor: pointer
