.list
	font-size: 16px
	&-box
		position: relative
		margin: 0 auto
		width: 100%
		height: 100%
		max-width: 940px
		padding: 12px
	&__title
		color: $green3
		font-size: 28px
		text-align-last: left
	&__data
		max-width: 200px
		margin-left: auto
		text-align-last: left
	&__author
		display: block
		color: $green2
		&-name
			padding-left: 38px
			color: $seagreen3
	&__created
		display: block
		color: $green2
		&-time
			padding-left: 12px
			color: $seagreen3
	&__movies-box
		display: flex
		flex-wrap: wrap
	&__item
		max-width: 16.66666666%
