.pagination
	display: block
	color: $yellow3
	margin: 0 auto
	&-list
		margin: 0 auto
		margin-top: auto
		display: flex
		width: 100%
		justify-content: center
	& .break
		border-left: 1px solid $seagreen2
	&__item
		height: 26px
		min-width: 26px
		border: 1px solid $seagreen2
		border-right: none
		background: $seagreen1-transparent
		padding-left: 4px
		padding-right: 4px
		text-align: center
		font-size: 16px
		cursor: pointer
		transition: all 200ms
		&:last-child
			border: 1px solid $seagreen2
		&:hover, &-active
			border-width: 2px 1px
			border-color: $seagreen4 $seagreen3
		a:active, a:focus
			outline: none

@media (max-width: 576px)
	.pagination
		&-list
			margin-top: 8px
		&__item
			padding-left: 2px
			padding-right: 2px
			font-size: 13px