.poster
	&-box
		position: relative
		padding: 2px 2px 0
		background: $seagreen0-transparent
		font-size: 17px
	&__img-box
		overflow: hidden
		max-height: 276px
	&__text
		&-box
			position: relative
			overflow: hidden
			height: 60px
			padding-top: 3px
	&__loader-box
		position: absolute
		top: 24%
		left: 50%
		transform: translateX(-50%)

.movie
	&-img
		max-width: 100%
	&-poster
		text-align: center
		&__title, &__year
			font-size: 14px
		&__title
			color: $seagreen5
			text-align: center
		&__year
			position: absolute
			bottom: 3px
			right: 3px
			color: $seagreen3

.list-poster
	&__img-box
		display: inline-block
		width: 25%
		overflow: hidden
		img
			display: block
			width: 400%
			transform: translate(-50%)
			margin-left: 50%
	&__info
		font-size: 15px
		position: relative
		min-height: 60px
		background: $seagreen0
	&__title
		display: inline-block
		text-align: left
		padding-top: 7px
		font-size: 13px
		color: $green3
		&:hover
			text-decoration: underline
	&__author
		&-box
			position: absolute
			bottom: 3px
			right: 3px
			font-size: 12px
			color: $seagreen3
		&-name
			padding-left: 8px
			color: $yellow3
			&:hover
				text-decoration: underline

@media (max-width: 768px)
	.poster
		&-box
			padding: 0
	.movie-poster
		&__title, &__year
			font-size: 12px
	.list-poster
		&__imgs-box
			position: relative
		&__img-box
			display: block
			width: 100%
			&:nth-last-child(-n+2)
				display: none
			&:nth-child(2)
				position: absolute
				top: 50%
				z-index: 1
			& img
				transform: translate(0, -25%)
				margin: 0
				max-width: 100%
		&__info
			z-index: 2
			font-size: 13px
		&__title

@media (max-width: 576px)
	.poster
		&-box
			font-size: 12px
		&__text
			&-box
				height: 40px
	.list
		&-poster
			&__info
				font-size: 12px
